.container {
  margin-top: auto;
}

.select {
  background: var(--bg-color-primary);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color-soft);
  padding: 0.5rem;
  & > select {
    padding: 0.25rem;
    color: var(--text-color-secondary);
    background: var(--bg-color-primary);
    padding-left: 48px;
    width: 100%;
  }

  & > .icon {
    display: inline-flex;
    position: absolute;
    pointer-events: none;
    left: 24px;
  }
}
