.container {
  width: 100%;
  height: 960px;
}
.container::before {
  position: absolute;
  z-index: 1;
  content: '';
  height: 760px;
  width: 100%;
  top: 60px;
  left: 0;
  background-color: rgba(13, 20, 38, 0.1);
}

.carousel {
  height: 760px;
  width: 100%;
  overflow: hidden;
}
.img_container {
  background: white;
  height: 760px;
  width: 100%;

  & > img {
    background: white;
    display: block;
    backface-visibility: hidden;
    object-fit: cover;
    object-position: center;
    position: relative;
    width: 100%;
    min-height: 760px;
    max-height: 760px;
  }
}
.slogan {
  text-align: left;
  position: absolute;
  top: 40%;
  left: 10%;
  color: #ffffff;
  font-size: 3rem;
  text-shadow: 1px 2px 4px black;

  & > span {
    font-weight: 600;
  }
}
.slogan2 {
  text-align: left;
  position: absolute;
  top: 40%;
  left: 10%;
  color: #ffffff;
  font-size: 3rem;
  text-shadow: 1px 2px 3px black;

  & > * > span {
    font-weight: 600;
  }
  & > h2 {
    font-size: 1.5rem;
  }
}
.get_started_buttons {
  height: 200px;
  width: 100;
  display: flex;

  & > div {
    text-align: left;
    & > a > h1 {
      font-size: 1.5rem;
    }
  }
  .left {
    color: #454545;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .right {
    background: #272e42;
    width: 50%;
    height: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 760px) {
  .get_started_buttons {
    height: 400px;
    flex-direction: column;
    & > div {
      min-height: 200px !important;
      width: 100% !important;
    }
  }
}
@media (max-width: 480px) {
  .img_container {
    width: 375px !important;
    height: 520px !important;
    & > img {
      background-repeat: no-repeat;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .slogan {
    font-size: 2rem;
  }
  .container::before {
    top: 0px;
    height: 520px;
  }
}
