.input_container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  position: relative;
  z-index: 1;

  & > label {
    background: var(--bg-color-primary-dark);
    background: linear-gradient(0deg, var(--bg-color-primary-dark) 65%, var(--bg-color-primary) 35%);
    border-radius: 8px;
    padding: 0 0.5rem;
    display: block;
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    z-index: 99;
    font-size: 0.75rem;
    letter-spacing: 1px;
  }
  & > input,
  textarea {
    color: var(--text-color-primary);
    resize: none;
    border: solid 2px var(--border-color-soft);
    border-radius: 8px;
    padding: 0.725rem;
    width: 100%;
    background: var(--bg-color-primary-dark);
  }
}
