.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 32px 1fr;
  gap: 1px 1px;
  grid-template-areas:
    'chart_header legend_header'
    'chart legend';
}

.chart_header {
  grid-area: chart_header;
  text-align: center;
  font-size: 1rem;
  color: var(--text-color-primary);
}

.legend_header {
  grid-area: legend_header;
}

.chart {
  grid-area: chart;
  overflow: hidden;
  height: 100%;
  grid-area: chart;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.total {
  position: absolute;
  font-size: 2rem;
  color: var(--text-color-primary);
  & > span {
    font-size: 2.5rem;
  }
}

.legend {
  grid-area: legend;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.legend_item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5rem 0;
  width: 100%;
  height: 1rem;
}
.legend_marker {
  margin-bottom: 1px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 0.75rem;
}
.legend_name {
  color: var(--text-color-primary);
  margin-right: 1rem;
}

@media (max-width: 850px) {
  .container {
    height: 300px;
  }
}
