.container {
  cursor: pointer;
  border-radius: 4px;

  white-space: nowrap;
  vertical-align: baseline;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.85rem;
  text-align: center;

  padding: 0 1rem;
  min-width: 64px;
  min-height: 30px;

  & > span {
    display: block;
  }

  -webkit-tap-highlight-color: transparent;

  transition: background-color, transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  &:hover {
    background-color: var(--bg-color-secondary);
  }
  &:active {
    transform: scale(0.9);
  }
  &:focus {
    background-color: var(--bg-color-secondary);
  }
  outline: none;
}

.selected {
  background: var(--primary-color) !important;
  color: var(--text-color-primary) !important;
}

.primary-contained {
  color: var(--primary-color);
  background-color: var(--bg-color-secondary-light);
}
.ghost {
  background: var(--bg-color-primary);
  color: var(--text-color-secondary);
}
