.login_container {
  margin-top: 4rem;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.75rem;

  & > label {
    color: #ffffff;
    font-size: 0.85rem;
    color: #cfd7db;
    margin-bottom: 0.25rem;
  }
  & > input {
    height: 36px;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
  }
  & > button {
    background: #1f8efa;
    color: #ffffff;
    height: 36px;
    margin-top: 1rem;
    letter-spacing: 1px;
    &:hover {
      background: #3e4e6c;
    }
  }
}
.link_forgot {
  color: #70889e;
  cursor: pointer;
  margin-top: 3rem;
  text-align: center;
  &:hover {
    color: #1f8efa;
  }
}
.link_signup {
  color: #70889e;
  display: block;
  cursor: pointer;
  margin-top: 1rem;
  text-align: center;
  &:hover {
    color: #1f8efa;
  }
  & > span {
    color: #1f8efa;
  }
}
