.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  & > li {
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
}

.card {
  background: var(--bg-color-primary);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 8px;
  padding: 1rem 1rem;

  & > .title {
    white-space: nowrap;
    font-weight: 600;
    color: var(--text-color-primary);
    align-self: flex-start;
  }
  & > .value {
    white-space: nowrap;
    margin: auto 0;
    font-size: 2rem;
    color: var(--text-color-primary);
  }
}

.big {
  width: 260px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.battery_info {
  & > h1 {
    font-weight: 600;
    color: var(--text-color-primary);
    padding-left: 1rem;
    padding-top: 1rem;
  }
  background: var(--bg-color-primary);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 8px;
  width: 260px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  .icon_with_text {
    margin-bottom: 0.5rem;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    & > .icon {
      width: 120px;
      transform: rotate(-90deg);
      & > svg {
        height: 100%;
        width: 100%;
      }
    }
    & > .text_group {
      color: var(--text-color-primary);
      font-size: 1.85rem;
    }
  }
}

.card_group {
  height: 200px;

  & > ul {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    & > li {
      height: 45%;
      position: relative;
      & > h2 {
        text-align: center;
        font-size: 1.5rem;
      }
    }
  }
}

.tempature_status {
  position: absolute;
  top: 0;
  right: 0;
}

.temp_status_text {
  font-style: italic;
  position: absolute;
  bottom: 0;
  right: 12px;
  font-weight: 400;
  color: var(--green);
}

.row_container {
  background: var(--bg-color-primary);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 8px;
  padding: 1rem 1rem;
  max-width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.row_card {
  position: relative;
  margin: 1rem 0;
  box-shadow: inset -1px 0 0 var(--border-color-soft);
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1.75rem;
  margin: 0.25rem 0.25rem;

  & > .title {
    white-space: nowrap;
    font-weight: 600;
    color: var(--text-color-primary);
  }
  & > .value {
    line-height: 1;
    white-space: nowrap;
    margin: auto 0;
    font-size: 2rem;
    color: var(--text-color-primary);
  }
}

.info_text {
  font-size: 1.25rem;
  color: var(--text-color-primary);
  position: absolute;
  bottom: -16px;
}
