.section {
  padding: 0 2rem;
  & > section {
    background: var(--bg-color-primary);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 8px;
    padding: 1rem;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 500px auto;
  gap: 1rem 2rem;
  grid-template-areas:
    'o-info o-chart'
    'o-weather o-weather';
}

.o_info_container {
  grid-area: o-info;
  height: 100%;
}

.o_chart_container {
  grid-area: o-chart;
  height: 100%;
  background: var(--bg-color-primary);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 8px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  & > h1 {
    width: 100%;
    text-transform: uppercase;
    color: var(--text-color-secondary-light);
    margin: 1rem 1rem;
    white-space: nowrap;
  }
  & > div {
    height: 100%;
  }
}

.weather_section {
  background: var(--bg-color-primary);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 8px;
  padding: 1rem;
  padding-right: 0;
  grid-area: o-weather;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.weather_cart_group {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.weather_section_header {
  text-transform: uppercase;
  color: var(--text-color-secondary-light);
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  & > h1 {
    flex: 1;
    text-align: center;
  }
  & > h2 {
    text-align: center;
    flex: 2;
  }
}
.current_weather_container {
  height: 100%;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.current_weather_card {
  width: 70%;
  height: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--bg-color-primary-dark);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 8px;
  padding: 1rem;

  .sun_image {
    margin-right: 3rem;
    width: 120px;
    & > svg {
      width: 100%;
      height: 100%;
    }
  }

  .text_group {
    & > h1 {
      font-size: 2rem;
      white-space: nowrap;
    }
  }
}
.weather_chart_container {
  height: 400px;
  flex: 2;
  width: 99%;
}

.line_chart {
  max-width: 99%;
  overflow: hidden;
}
.bar_chart {
  max-width: 99%;
  overflow: hidden;
  height: 100%;
}

@media (max-width: 1100px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 500px 1fr;
    gap: 1rem 0rem;
    grid-template-areas:
      'o-info'
      'o-chart'
      'o-weather';
  }

  .weather_cart_group {
    flex-direction: column !important;
  }
  .current_weather_container {
    width: 100%;
  }
  .weather_section_header {
    margin-bottom: 1rem;
    & > h1,
    h2 {
      flex: 1 !important;
    }
  }
}

@media (max-width: 550px) {
  .weather_section_header {
    display: none;
  }
}
