.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  & > li {
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
}

.card {
  background: var(--bg-color-primary);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 8px;
  padding: 1rem 1rem;
  min-width: 220px;

  & > .title {
    white-space: nowrap;
    font-weight: 600;
    color: var(--text-color-secondary);
    align-self: flex-start;
  }
  & > .value {
    white-space: nowrap;
    margin: auto 0;
    font-size: 2rem;
    color: var(--text-color-primary);
  }
}

.big {
  width: 260px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tempature_status {
  position: absolute;
  top: 0;
  right: 0;
}

.row_container {
  background: var(--bg-color-primary);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 8px;
  padding: 1rem 1rem;
  max-width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.row_card {
  position: relative;
  margin: 1rem 0;
  box-shadow: inset -1px 0 0 var(--border-color-soft);
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1.75rem;
  margin: 0.25rem 0.25rem;

  & > .title {
    white-space: nowrap;
    font-weight: 600;
    color: var(--text-color-secondary);
  }
  & > .value {
    line-height: 1;
    white-space: nowrap;
    margin: auto 0;
    font-size: 2rem;
    color: var(--text-color-primary);
  }
}
