.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 64px 300px 1fr;
  grid-template-areas:
    'o-header o-header'
    'o-chart1 o-chart2'
    'o-info o-info';
}

.header {
  grid-area: o-header;
}

.chart1 {
  grid-area: o-chart1;
  border-right: 1px solid #242e42;
  border-bottom: 1px solid #242e42;
  padding-bottom: 1rem;
}

.chart2 {
  grid-area: o-chart2;

  padding-bottom: 1rem;
  border-bottom: 1px solid #242e42;
}

.info {
  grid-area: o-info;
}

@media (max-width: 850px) {
  .header {
    height: 64px;
  }
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .chart1 {
    grid-area: o-chart1;
    border-right: none;
    padding: 0;
  }
  .chart2 {
    margin-top: 1rem;
  }
}
