.menu {
  & > div {
    background: var(--bg-color-primary-darker);
    color: var(--text-color-primary);

    & > ul {
      & > li {
        &:hover {
          background: var(--bg-color-primary);
        }
      }
    }
  }
}

tspan {
  font-size: 12px;
}

.carousel {
  display: flex;
  justify-content: center;
}
