:root {
  --primary-color: #1f8efa;
  --bg-color-primary: #242e42;
  --bg-color-primary-light: #293449;
  --bg-color-primary-dark: #212a3d;

  --bg-color-secondary: #2f3b52;
  --bg-color-secondary-light: #3e4e6c;

  --icon-color: #3e4e6c;

  --text-color-primary: #ffffff;
  --text-color-secondary: #98a7b9;

  --warning-color: #ffab4f;
  --success-color: #ffab4f;
}
