:root {
  --primary-color: #1f8efa;
  --primary-color-opacity: #1f8cfac4;

  --bg-color-primary: #242e42;
  --bg-color-primary-light: #293449;
  --bg-color-primary-dark: #20293c;
  --bg-color-primary-darker: #131a27;

  --bg-color-secondary: #2f3b52;
  --bg-color-secondary-light: #3e4e6c;

  --icon-color: #657d95;

  --text-color-primary: #ffffff;
  --text-color-secondary: #98a7b9;
  --text-color-secondary-light: #cfd7db;
  --text-color-secondary-dark: #70889e;

  --warning-color: #ffab4f;
  --success-color: #ffab4f;

  --bg-border-color-dark: #000000;
  --bg-border-color-soft: #00000025;

  --orange: #ffab4f;
  --green: #05c985;
  --blue: #1f8efa;
}
